body {
    font-family: 'Roboto', sans-serif;
    border: 3px solid #d4cdcd;
    margin: 200px;
    padding: 200px;
  }

  h3 {
      background-color: #83c783;
      text-align: center;
      color: white
}

ul {
    list-style-type: none;
    padding: 10px;
    color: orange;
}

li {
    justify-content: space-between;
    margin: 0 0 10px 0;
    justify-content: space-between;
}

[type = 'text'] {
    border: 3px solid #83c783;
    font-size:12pt;
    width: 200px;
    height: 25px;
}

[type = 'submit'] {
    background-color: Transparent;
    border: 3px solid #83c783;
    height: 30px;
    color: #83c783;
}

.redBut {
    height: 25px;
    width: 25px;
    background-color: red;
    color: white;
    text-align: center;
    padding; 3px;
  }
  
@media (max-width: 600px) {

}

@media (min-width: 500px) {
}